[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	email = anaverage.enri@gmail.com
	name = anaverage-enri

[init]
	defaultBranch = main

[push]
	autSetupRemote = true
	default = current

[fetch]
	prune = true

